a {
    background-color: gold;
    border: solid;
    border-radius: 10%;
    border-color: gold;
    text-decoration: none;
    color: black;
    border-width: 10px;
}


.gold-virsraksts {
    color: gold;
}


.small-heading {
    color: green;
}


.form-container {
    padding-top: 20px;
}